@charset "UTF-8" ;

* {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

body {
    background-image: linear-gradient(to right, #72C6F7, #23A3EE, #0991E1);
}

main {
    background-color: #A3DAFA;
    width: 800px;
    padding: 20px;
    margin: auto;
    box-shadow: 5px 5px 10px #076aa4;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
}

p {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: 20px Verdana, Geneva, Tahoma, sans-serif;
}