* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: gray;
    margin: 3px;
    display: flex;
    flex: 1 1 100vw
}

nav {
    background-color: grey;
    margin: 3px;
    display: flex;
    flex: 1 1 100vw
}